#S1,#S2,#S3,#head{
    /* display: none; */
}
#Article1,#Article2,#Article3,#Article4,#Article5{
    display: none;
}
#Blog{
    padding: 80px 1em 40px;
    box-sizing: border-box;
    background: #05396b;
    display: none;
}
.Article-Responsiveness{
    box-sizing: border-box;
    max-width: 1600px;
    width: 92.5%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}
.Article-Responsiveness > div{
    border-radius: 5px;
}
.Article-title{
    font-size: 30px;
    margin-top: 20px;
}
.Article-holder{
    background: #389583;
    padding: 1em;
}
.Article-info img{
    float: left;
    height: 23px;
    margin-right: 10px;
}
.Article-info h2{
    color: rgb(110, 110, 110);
    font-size: 1em;
}
.Article-holder p{
    margin-top: 40px;
}
.Article-holder p::first-letter{
    margin-left: 30px;
   
}
.Article-info {
    margin-top: 15px;
}
.Article-holder > img{
    width: 100%;
    margin: 20px 0 0;
    border-radius: 5px;
}
.Article-holder2 img{
    width: 100%;
}
.Article-holder2 p{
    margin: 20px 0; 
    color: white;
}
