* {
	margin: 0;
	padding: 0;
}
html , body {
	width: 100%;
	height: 100%;
	font-family: Comic Sans Ms;
	min-width: 1300px;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
} 
  /* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}   
 /* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
 }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
#Loading {
	display:none;
}
header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	z-index: 10;
}
.animate {
	animation: fade 1s forwards ease-in-out;
}
@keyframes fade {
	from{
		background: none;
		height: 60px;
	}
	to{
		background: #389583;
		height: 50px;
	}
}
header > div {
	position: relative;
	width: 90%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px solid white;
}
header div > img{
	height: 80%;
	position: absolute;
	left: 1%;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
header div > ul {
	list-style: none;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
header div > ul > li {
	display: inline;
	margin-left: 20px;
}
header div > ul > li a {
	text-decoration: none;
	color: white;
}
#head {
	background-size: cover;
	width: 100%;
	height: 100vh;
}
#head-responsiveness{
	position: relative;
	max-width: 1600px;
	min-width: 1300px;
	width: 100%;
	height: 100%;
	margin: auto;
}
#head-responsiveness > div {
	width: 30vw;
	position: absolute;
	top: 55%;
	left: 5%;
	transform: translateY(-45%);
	z-index: 1;
	font-size: 16px;
}
#head-responsiveness > div  > h2{
	font-size: 1.5em;
	color: wheat;
	margin-bottom: 10px;
}
#head-responsiveness > div > p {
	color: antiquewhite;
	font-size: .9em;
	text-align: justify;
	clear: both;
}
.Discover {
	background: #23bb7e;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1em;
	color: aliceblue;
	margin-top: 30px;
	transition: background .3s ease-in-out;
}
.Discover:hover{
	background: #00BCD4;
}
#head-responsiveness > div > p > span:nth-child(1) {
	float: left;
	margin-bottom: 10px;
	clear: both;
}
#head-responsiveness > div > p > span:nth-child(2) {
	float: right;
}
#hold {
	border-radius: 10px;
	background: red;
	width: 0%;
	height: 8px;
	margin-bottom: 10px;	
}
.ani{
	animation: timer 10.02s forwards ease-out;
}
@keyframes timer {
	5%{
		width: 0%;	
		background: #23bb7e;
	}
	89%{
		background: #00BCD4;
	}
	99%{
		width: 100%;
		opacity: 1;
		background:  rgb(247, 68, 68);
	}
	100%{
		opacity: 0;
	}
}
#scroll{
	position: absolute;
	width: 30px;
	bottom: 20px;
	left: 50%;
	cursor: pointer;
	opacity: .8;
}
#scroll:hover{
	opacity: 1;
}
/* Animation for transition of blogs in head */
.Change {
	animation:  Change 1s forwards;
}
@keyframes Change {
	0%{
		transform: translateX(0px);
		opacity: 1;
		
	}
	40%{
		transform: translateX(-10px);
		opacity: 0;
	}
	60%{
		transform: translateY(15px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
/* SECTION 1 */
#S1 {
	width: 100%;
}
#S1Responsiveness {
	max-width: 1600px;
	margin: auto;
	height: 100%;
	padding: 1em;
}
#S1Responsiveness > h1 {
	text-align: center;
	font-size: 30px;
	margin: 50px;
}
#Ways1,#Ways2 {
	width: 100%;
	height: 400px;
	margin-top: 30px;
}
.Ways-holder{
	width: 55%;
	height: 100%;
	position: relative;
}
.ways-image-holder{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.ways-image-holder img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	transition: height .3s ease-in, width .3s ease-in;
}
.Ways-holder:hover .ways-image-holder img{
	width: 110%;
	height: 110%;
}
.ways-content-holder{
	position: absolute;
	
	width: 100%;
	max-height: 90%;
	background: #389583;
	border-radius: 5px;
	padding: 4em 1em; 
	box-sizing: border-box;
	text-align: center;
}
.Ways1Content{
	top: 50%;
	left: 90%;
	transform: translate(-10%,-50%);
}

.ways-content-holder h1{
	color: white;
	font-size: 2em;
}
.ways-content-holder p{
	color: rgb(240, 255, 231);
	width: 80%;
	margin: 20px auto 0;
}

#Ways2 .Ways-holder{
	margin-left: 45%;
}
.Ways2Content{
	top: 50%;
	right: 90%;
	transform: translate(10%,-50%);
}

/* SECTION 2 */
#S2 {
	background: url(../image/S3.png)no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 4;
	margin-top: -150px;
	padding: 120px 0 200px;
	text-align: center;
	position: relative;
}
#S2 img:nth-child(1) {
	width: 30%;
	margin-bottom: 50px;
}
#S2 img:nth-child(2) {
	position: absolute;
	left: 0;
	height: 80%;
}
#S2 img:nth-child(3) {
	position: absolute;
	right: 0;
	height: 80%;
}
#S2 > div {
	overflow: hidden;
	border-radius: 5px;
	padding: 1em;
	min-height: 300px;
	background: rgb(219, 216, 216);
	position: relative;
	width: 50%;
	margin: auto;
}

#S2 > div > div {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;;
	height: 10px;
	background: #00BCD4;
}
.Startani {
	animation: timer 12s forwards ease-in;
}
#S2 > div > h1 {
	text-align: left;
	color: #00BCD4;
	font-size: 1.8em;
}
#FactsContent {
	width: 80%;
	margin: 60px auto 40px;
	font-size: 1.2em;
	color: rgb(46, 46, 46);
}
/* animation time is to long  */
.FactAni {
	animation: FactsChange 1s forwards;
}
@keyframes FactsChange {
	0%{
		color: red;
		transform: translateX(0);
		opacity: 1;
		
	}
	40%{
		color: black;
		opacity: 0;
		transform: translateX(-30px);
		
	}	
	60%{
		transform: translateX(30px);
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}
/* SECTION 3 */
#S3 {
	z-index: 1;
	min-height: 100vh;
	padding-bottom: 120px;
	background: #05396b;
}
#S3 > div{
	background-size: cover;
	max-width: 1600px;
	position: relative;
	margin: auto;
}
#S3 #Timer{
	width: 73%;
	background: rgba(48, 48, 48, 0.9);
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 90px 2em 90px;
}

#S3 div > img {
	width: 100%;
}
#Timer h1,#Timer h2{
	color: white;
	font-size: 25px;
}
#Timer h2{
	margin-top: 50px;
	text-align: right;
}
#Counter-holder{
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 5px;
	padding: 1em .5em;
	border: 5px white solid;
	margin: 70px auto 0;
	overflow: hidden;
}
#Counter-holder .Counter{
	color: white;
	text-align: center;
	font-size: 60px;
}
#Counter-holder .Counter span{
	position: relative;
}
.Counterani{
	animation: Counterani 1s infinite ease-in-out;
}

@keyframes Counterani{
	0%{
		top: 0;
		opacity: 1;
	}
	40%{
		top: -20px;
		opacity: 0;
	}
	60%{
		top: 20px;
		opacity: 0;
	}
	100%{
		top: 0;
		opacity: 1;
	}
}
/* Section 4 */
#S4{
	width: 100%;
}
#S4Responsiveness {
	max-width: 1600px;
	margin: auto;
	padding: 1em;
}
#S4Responsiveness > h1{
	font-size: 40px;
	color: #2196F3;
}
#S4Responsiveness > h1 > span{
	color: #f39e16;
}
#S4-wrapper {
	margin: 30px auto;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
#S4-wrapper .blog-holder {
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}
.blog-holder:hover .BlogImgHolder img {
	opacity: 1;
}
.BlogImgHolder{
	width: 100%;
}
.BlogImgHolder img {
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	opacity: .8;
}
.blog-Content {
	display: grid;
	grid-template-columns: 25% 1fr;
	column-gap: 5px;
}
.blog-Date {
	background: #389583;
	text-align: center;
	font-size: 16px;
	box-sizing: border-box;
	color: white;
	position: relative;
	border-bottom-left-radius: 10px;
}
.blog-Date span {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.blog-Date p {
	font-size: .7em;
}
.blog-Info {
	padding: .5em;
	border-bottom-right-radius: 10px;
	background: #05396b;
}
.blog-Info h3{
	color: #edf5e0;
}
.blog-Info p{
	color: #8de4af;
	font-size: .9em;
}






