* {
	margin: 0;
	padding: 0;
}

html , body {
	width: 100%;
	height: 100%;
}

#Loading{
	display:none;
}


header{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
}

.animate{
	animation: fade 1s forwards;
}

@keyframes fade{
	from{
		background: none;
		height: 60px;
	}
	to{
		background: rgba(4, 66, 1, 0.911);
		height: 50px;
	}

}

section > section{
	width: 100%;
	height: 100vh;
}
header > div {
	position: relative;
	width: 90%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px solid white;
}

header div > ul {
	list-style: none;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
header div > ul > li {
	display: inline;
	margin-left: 20px;
}
header div > ul > li a{
	text-decoration: none;
	color: wheat
}



#S1 {
	background: url(../image/forest.jpg) no-repeat;
	background-size: cover;
}